// Override Bootstrap's Sass default variables
// Customize global options and defaults before importing Bootstrap

$enable-gradients: true;
$enable-shadows: true;
$body-color: #FFF;
$body-bg: #000;
$border-radius: .4rem;
$red: #FF0051;
$green: #00FFB2;
$purple: #CF85FF;

// Import Bootstrap core functions and required styles
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

// Import Bootstrap components as needed
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/utilities";

// Custom font
@font-face {
  font-family: 'Atype';
  src: url("/assets/font/AtypDisplay-Bold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Atype';
  src: url("/assets/font/AtypDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Atype';
  src: url("/assets/font/AtypDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Atype';
  src: url("/assets/font/AtypDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

// Set global font family and weight
* {
  font-family: 'Atype';
  font-weight: 300;
}

// Import custom styles
@import "icon-list";


// Media Queries

@include media-breakpoint-up(lg) {


  footer {
    padding-top: 250px;
  }

  p {
    font-size: 2rem;
    line-height: 38.4px;
  }

  .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      padding: 0 10px;
    }

    img:last-child {
      height: 100%;
    }
  }

  tr {
    p {
      font-size: 2.5em;
    }
  }

  .mobile-btns {
    display: none;
  }
}


@media (max-width: 767px) {
  .video-container{
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .intro {
    height: 80vh !important;
  }

  body {
    .navbar {
      padding: 20px 0;
    }
  }

  .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 100%;

      &:last-child {
        padding-left: 10px;
      }
    }
  }

  .navbar {
    .container {
      padding: 0 25px;
    }
  }

  .sign-up {
    display: none !important;
  }

  tr {
    height: 50px;

    p {
      font-size: 1.2em;
    }
  }

  .sign-up {
    display: none;
  }

  .prize--number {
    font-size: 4rem !important;
  }
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

// Navbar styles
.navbar {
  background: rgba(0, 0, 0, 0.9);
  ;
  padding: 60px 0;

  .nav-item {
    padding: 12px 15px;

    a {
      color: #fff;
      font-size: 1.625rem;
    }
  }
}

// Table styles
tbody {

  tr:first-child td,
  tr:first-child th {
    border-top: 0;
  }

  tr td,
  tr th {
    vertical-align: bottom !important;
  }
}

.table-bordered>tfoot>tr>th {
  border-bottom: 0;
}

tr th {
  border-right: 1px solid #fff;

  p {
    font-weight: 400;
  }
}

tr {
  height: 150px;
}

// Headings
h1 {
  color: $red;
  font-size: 3.75em;
  font-weight: 500;
}

// Paragraph styles
p {
  font-size: 1.5rem;
  line-height: auto;
}

// Navbar brand logo position

.sign-up {
  align-items: center;
  text-align: center;
  position: relative;
  height: 350px;

  .btn {
    z-index: 1;
    border-radius: 24.8px;

    p {
      font-size: 3.75em;
      padding: 33px 38px;

    }
  }
}

.btn-danger {
  a {
    color: #fff;
  }
}

.vertical-line {
  border-left: 1px solid #fff;
  height: 100%;
  position: absolute;
  left: 50%;
}

.intro {
  position: relative;
  background-image: url('../../assets/img/background/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


section {
  position: relative;
}

// Custom color classes
.disclaimer {
  color: $green;
}

.prize--number {
  font-size: 9.8rem;
  font-weight: 900;
}

.close-bracket {
  color: $red;
  font-size: 3.75em;
  font-weight: 500;
  display: block;
}

.schedule--time {
  &__purple {
    color: $purple;
  }

  &__red {
    color: $red;
  }
}

.card-header {
  button {
    p {
      color: #fff;
    }
  }
}

html {
  scroll-behavior: smooth;
}

.footer {
  &--button {
    font-size: 3.75em;

    a {
      color: $purple;
      font-weight: 600;
    }
  }
}

.footer--logos {
  position: relative;
}

.btn {
  p {
    text-align: left;
  }
}

#bgvid {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: 0;
  display: block;
  filter: brightness(70%);
}

.video-container {
  background: url("/assets/img/background/Glitch\ Large.png");
  background-size: cover;
  background-position: center;
}